<div class="page-header">
  <h1>Listing engines</h1>
</div>

<div id="container">
  <div class="paragraph">
    <div class="row">
      <div class="col-sm-3 ener-header">Engine</div>
      <div class="col-sm-3 ener-header">Type</div>
      <div class="col-sm-3 ener-header">Serial</div>
      <div class="col-sm-3 ener-header"></div>
    </div>
    <% @engines.each do |engine| %>
      <div class="row">
        <div class="col-sm-3"><%= engine.engine %></div>
        <div class="col-sm-3"><%= engine.engine_type %></div>
        <div class="col-sm-3"><%= engine.serial %></div>
        <div class="col-sm-3 btn-group">
          <%= link_to 'Show', engine, class: "btn btn-xs btn-info" %>
          <%= link_to 'Edit', edit_engine_path(engine), class: "btn btn-xs btn-info" %>
          <%= link_to 'Destroy', engine, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <%= link_to 'Stock', stocks_path, class: "btn btn-sm btn-primary" %>
  <%= link_to 'Create Engine as Floor Stock', new_floor_engine_path, class: "btn btn-sm btn-success" %>
</div>
