<p id="notice"><%= notice %></p>

<p>
  <strong>Engine Installed In:</strong>
  <%= @engine.stock.serial_number %>
</p>

<p>
  <strong>Engine:</strong>
  <%= @engine.engine %>
</p>

<p>
  <strong>Type:</strong>
  <%= @engine.engine_type %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @engine.serial %>
</p>

<%= link_to 'Edit', edit_engine_path(@engine) %> |
<%= link_to 'Show ALl Engines', engines_path %>
