<p id="notice"><%= notice %></p>
<% if @engine.stock != nil %>
  <p>
    <strong>Engine Installed In:</strong>
    <%= @engine.stock.serial_number %>
  </p>
<% end %>

<p>
  <strong>Engine:</strong>
  <%= @engine.engine %>
</p>

<p>
  <strong>Type:</strong>
  <%= @engine.engine_type %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @engine.serial %>
</p>
<div class="btn-group">
  <%= link_to 'Edit', edit_engine_path(@engine), class: "btn btn-sm btn-primary" %>
  <%= link_to 'Show All Engines', engines_path, class: "btn btn-sm btn-primary" %>
</div>
