<% if @engine.stock != nil %>
  <div class="page-header">
    <h1>Engine Installed In: <%= link_to @engine.stock.serial_number, stock_path(@engine.stock) %>
      <% if @engine.stock.job != nil %>
       for job <%= link_to @engine.stock.job.job_number, job_path(@engine.stock.job) %>
      <%end%>
  </div>
<% else %>
  <div class="page-header">
    <h1>Engine in Stock</h1>
  </div>
<% end %>
<div class="content">
  <div class="paragraph">
    <%= render 'engine' %>
  </div>
  <br>
  <div class="btn-group">
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_engine_path(@engine), class: "btn btn-sm btn-primary" %>
    <% end %>
    <%= link_to 'Show All Engines', engines_path, class: "btn btn-sm btn-primary" %>
    <% if @engine.stock == nil and user_signed_in? %>
      <%= link_to 'Assign to Stock', assign_engine_path(@engine), class: "btn btn-sm btn-warning" %>
    <% end %>
  </div>
  <div class="paragraph">
    <h4>Audit Events</h4>
    <div class="row">
      <div class="col-sm-4 ener-header">Comment</div>
      <div class="col-sm-8 ener-header">Params</div>
    </div>

    <% @stock_audits.each do |stock_audit| %>
      <div class="row">
        <div class="col-sm-4"><%= format_name(stock_audit.user.email) %> <%= stock_audit.comment %></div>
        <div class="col-sm-8"><%= stock_audit.audit_params %></div>
      </div>
    <% end %>
  </div>
</div>
