<% if @engine.stock != nil %>
  <div class="page-header">
    <h1>Engine Installed In: <%= link_to @engine.stock.serial_number, stock_path(@engine.stock) %> for job <%= link_to @engine.stock.job.job_number, job_path(@engine.stock.job) %>
  </div>
<% else %>
  <div class="page-header">
    <h1>Engine in Stock</h1>
  </div>
<% end %>
<div class="content">
  <div class="paragraph">
    <%= render 'engine' %>
  </div>
  <br>
  <div class="btn-group">
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_engine_path(@engine), class: "btn btn-sm btn-primary" %>
    <% end %>
    <%= link_to 'Show All Engines', engines_path, class: "btn btn-sm btn-primary" %>
  </div>
</div>
