<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= format_name(@user.email) %></h1>
    <p>
      An item you're assigned as the PM of has had its status updated to '<%= @stock.status %>' by <%= format_name(@current_user.email) %><br>
      You can view this item <%= link_to "here", stock_path(@stock) %>
    </p>
    <p>
      To Login to Enerserial simply follow this link <%= @url %>.
    </p>
  </body>
</html>
