<div class="row">
  <div class="col-lg-6">
    <%= form_for [@customer, @job], :html => {class: "form-horizontal"} do |f| %>
      <% if @job.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

          <ul>
          <% @job.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field form-group">
        <%= f.label :job_number, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :job_number, class: "form-control" %>
        </div>
      </div>
      <div class="actions  col-sm-offset-3 col-sm-9">
        <%= f.submit class: "btn btn-sm btn-success" %>
      </div>
    <% end %>
  </div>
</div>
