<div class="paragraph">
  <div class="row">
    <div class="col-sm-4">
      <input id="filter" type="text" class="form-control" placeholder="Search For...">
    </div>
  </div>
  <table class="table table-striped tablesorter" id="sorttable">
    <thead>
      <tr>
        <th class="ener-header">Job number</th>
        <th class="ener-header">Customer</th>
        <th class="ener-header">PM</th>
        <th class="ener-header"></th>
      </tr>
    </thead>
    <tbody class="searchable">
      <% @jobs.each do |job| %>
        <tr>
          <td><%= job.job_number %></td>
          <td><%= job.customer.name %></td>
          <td>
            <% if job.user != nil %>
              <%= job.user.email %></td>
            <% else %>
              None assigned
            <% end %>
          <td>
            <div class=" btn-group">
              <%= link_to 'Show', job, class: "btn btn-xs btn-info" %>
              <%= link_to 'Edit', edit_job_path(job), class: "btn btn-xs btn-info" %>
              <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
