<div class="page-header">
  <h1>Job <%= @job.job_number %> for <%= link_to @job.customer.name, @job.customer %></h1>
  <% if @job.user != nil %>
    <h4>PM assigned to this job is <%= @job.user.email %></h4>
  <% else %>
    <h4>No PM is currently assigned to this job </h4>
  <% end %>
</div>
<div class="content">
  <%= render 'stocks/stocklist' %>
  <br>
  <div class="btn-group">
    <% if user_signed_in? %>
      <%= link_to 'Assign PM', assign_pm_job_path, class: "btn btn-sm btn-success" %>
      <%= link_to 'Change Customer', change_customer_job_path(@job), class: "btn btn-sm btn-success" %>
    </div>
    <br>
    <div class="btn-group">
      <%= link_to 'Edit', edit_job_path(@job), class: "btn btn-sm btn-primary" %>
    <% end %>
    <%= link_to 'Back', jobs_path, class: "btn btn-sm btn-primary" %>
  </div>
</div>
