<div class="page-header">
  <h1>Job <%= @job.job_number %> for <%= @job.customer.name %>
</div>
<div class="content">
  <%= render 'stocks/stocklist' %>
  <br>
  <div class="btn-group">
    <%= link_to 'Edit', edit_job_path(@job), class: "btn btn-sm btn-primary" %>
    <%= link_to 'Back', jobs_path, class: "btn btn-sm btn-primary" %>
  </div>
</div>
