<%= form_for(@stock) do |f| %>
  <% if @stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% @stock.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :serial_number %><br>
    <%= f.number_field :serial_number %>
  </div>
  <div class="field">
    <%= f.label :job_number %><br>
    <%= f.text_field :job_number, :value => check_job(@stock) %>
  </div>
  <div class="field">
    <%= f.label :supplier_name %><br>
    <%= f.text_field :supplier_name %>
  </div>
  <div class="field">
    <%= f.label :detail %><br>
    <%= f.text_field :detail %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.collection_select :status, Stock::STATUS_TYPES, :to_s, :humanize %>
  </div>
  <div class="field">
    <%= f.label :status_detail %><br>
    <%= f.text_field :status_detail %>
  </div>
  <div class="field">
    <%= f.label :gesan_number %><br>
    <%= f.text_field :gesan_number %>
  </div>
  <div class="field">
    <%= f.label :vin %><br>
    <%= f.text_field :vin %>
  </div>

  <div class="field">
    <%= f.label :ppsr %> <%if current_user.admin? %> <%= f.check_box :needs_ppsr %> <% end %><br>
    <%= f.number_field :ppsr %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-sm btn-success" %>
  </div>
<% end %>
