<p>
  <strong>Eneraque Serial Number:</strong>
  <%= format_serial(@stock) %>
</p>

<p>
  <strong>Eneraque Job Number:</strong>
  <%= format_job(@stock) %>
</p>

<p>
  <strong>Supplier Name:</strong>
  <%= @stock.supplier_name %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @stock.detail %>
</p>

<p>
  <strong>Status:</strong>
  <%= @stock.status %>
</p>

<p>
  <strong>Shipping Date:</strong>
  <% if @stock.shipping_date != nil %>
    <%= @stock.shipping_date.strftime("%A the %d of %B %Y") %>
  <% end %>
</p>

<p>
  <strong>Status detail:</strong>
  <%= @stock.status_detail %>
</p>

<p>
  <strong>Supplier Serial Number:</strong>
  <%= @stock.gesan_number %>
</p>

<p>
  <strong>Vin Number:</strong>
  <%= @stock.vin %>
</p>

<p>
  <strong>Location:</strong>
  <%= @stock.location %>
</p>

<p>
  <strong>Ppsr:</strong>
  <% if @stock.needs_ppsr == true %>
    <%= format_ppsr(@stock) %>
    <% if @stock.ppsr_expiry != nil %>
      Expires on <%= @stock.ppsr_expiry.strftime("%A the %d of %B %Y") %>
    <% end %>
  <% else %>
    PPSR not required for this product.
  <% end %>
</p>
<% if current_user.can_sales? or current_user.can_manage? %>
  <p>
    <strong>Costing:</strong>
    <% if @stock.costing != nil %>
      $<%= @stock.costing.landed_cost%>
    <% else %>
      No costing was done on this unit.
    <% end %>
  </p>
<% end %>
