<p>
  <strong>Eneraque Serial Number:</strong>
  <%= format_serial(@stock) %>
</p>

<p>
  <strong>Eneraque Job Number:</strong>
  <%= format_job(@stock) %>
</p>

<p>
  <strong>Supplier Name:</strong>
  <%= @stock.supplier_name %>
</p>

<p>
  <strong>Engine:</strong>
  <% if @stock.engine != nil %>
    <%= link_to @stock.engine.serial, engine_path(@stock.engine) %>
  <% else %>
    No Engine Found
  <% end %>
</p>

<p>
  <strong>Alternator:</strong>
  <% if @stock.alternator != nil %>
    <%= link_to @stock.alternator.serial, alternator_path(@stock.alternator) %>
  <% else %>
    No Alternator Found
  <% end %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @stock.detail %>
</p>

<p>
  <strong>Status:</strong>
  <%= @stock.status %>
</p>

<p>
  <strong>Shipping Date:</strong>
  <%= @stock.shipping_date %>
</p>

<p>
  <strong>Status detail:</strong>
  <%= @stock.status_detail %>
</p>

<p>
  <strong>Supplier Serial Number:</strong>
  <%= @stock.gesan_number %>
</p>

<p>
  <strong>Vin Number:</strong>
  <%= @stock.vin %>
</p>

<p>
  <strong>Ppsr:</strong>
  <%= format_ppsr(@stock) %>
</p>
<% if current_user.can_sales? or current_user.can_manage? %>
  <p>
    <strong>Costing:</strong>
    <% if @stock.costing != nil %>
      $<%= @stock.costing.landed_cost%>
    <% else %>
      No costing was done on this unit.
    <% end %>
  </p>
<% end %>
