<table border="1">
  <tr>
    <th>SerialNumber</th>
    <th>JobNumber</th>
    <th>Customer</th>
    <th>Detail</th>
  </tr>
  <% @stocks.each do |stock| %>
    <tr>
      <td><%= format_serial(stock) %></td>
      <td><%= check_job(stock) %></td>
      <td><%= check_customer(stock) %></td>
      <td><%= stock.detail %></td>
      <% stock.item.each do |item| %>
        <% if item.stock_type == "Engine" %>
          <td>
            <% if item.item_name != nil %>
              <%= item.item_name %>
            <% end %>
          </td>
          <td>
            <% if item.item_model != nil %>
            <%= item.item_model %>
            <% end %>
          </td>
          <td>
            <% if item.item_serial != nil %>
            <%= item.item_serial %>
            <% end %>
          </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
