<h1>Listing stocks</h1>

<table>
  <thead>
    <tr>
      <th>Serial number</th>
      <th>Job</th>
      <th>Detail</th>
      <th>Status</th>
      <th>Status detail</th>
      <th>Gesan number</th>
      <th>Ppsr</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.serial_number %></td>
        <td><%= stock.job %></td>
        <td><%= stock.detail %></td>
        <td><%= stock.status %></td>
        <td><%= stock.status_detail %></td>
        <td><%= stock.gesan_number %></td>
        <td><%= stock.ppsr %></td>
        <td><%= link_to 'Show', stock %></td>
        <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
        <td><%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock', new_stock_path %>
