<div class="page-header">
  <h1>
    <%= "Detail for Serial \##{@stock.serial_number}" %>
    <% if @stock.job != nil %>
      <%= ": Job #{format_job(@stock)} for #{format_company(@stock)}." %>
    <% end %>
  </h1>
</div>

<div id="content">
  <div class="paragraph">
    <div class="row">
      <div class="col-sm-4">
        <h4>Main Unit</h4>
        <%= render 'stock' %>
      </div>
      <div class="col-sm-4">
        <h4>Engine</h4>
        <% if @stock.engine != nil%>
          <%= render 'engines/engine' %>
        <% end %>
      </div>
      <div class="col-sm-4">
        <h4>Alternator</h4>
        <% if @stock.alternator != nil %>
          <%= render 'alternators/alternator' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 btn-group">
        <% if user_signed_in? %>
          <%= link_to 'Edit', edit_stock_path(@stock), class: "btn btn-sm btn-primary" %>
        <% end %>
        <%= link_to 'Back', stocks_path, class: "btn btn-sm btn-primary" %>
      </div>
      <% if user_signed_in? %>
        <div class="col-sm-4">
          <% if @stock.engine == nil%>
            <%= link_to 'New Engine', new_stock_engine_path(@stock), class: "btn btn-sm btn-success" %>
          <% else %>
            <%= link_to 'View Engine', engine_path(@stock.engine), class: "btn btn-sm btn-primary" %>
          <% end %>
        </div>
        <div class="col-sm-4">
          <% if @stock.alternator == nil %>
            <%= link_to 'New Alternator', new_stock_alternator_path(@stock), class: "btn btn-sm btn-success" %>
          <% else %>
            <%= link_to 'View Alternator', alternator_path(@stock.alternator), class: "btn btn-sm btn-primary"%>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
