<div class="page-header">
  <h1>
    <%= "Detail for Serial \##{@stock.serial_number}" %>
    <% if @stock.job != nil %>
      <%= ": Job #{format_job(@stock)} for #{format_company(@stock)}." %>
    <% end %>
    <% if @stock.order != nil %>
      <%= ": For Order Number #{@stock.order.order_number}" %>
    <% end %>
  </h1>
</div>

<div id="content">
  <div class="paragraph">
    <div class="row">
      <div class="col-sm-4">
        <h4>Main Unit</h4>
        <%= render 'stock' %>
      </div>
      <div class="col-sm-8">
        <h4>
          <% if @items != nil %>
            <%= @items.count %>
          <% end %>
          Attached Items
        </h4>
        <% if @items != nil %>
          <%= render 'items' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 btn-group">
        <% if user_signed_in? %>
          <%= link_to 'Edit', edit_stock_path(@stock), class: "btn btn-sm btn-primary" %>
          <%= link_to 'Assign PM', assign_pm_stock_path, class: "btn btn-sm btn-primary" %>
        <% end %>
        <%= link_to 'Back', stocks_path, class: "btn btn-sm btn-primary" %>

      </div>
      <% if user_signed_in? %>
        <div class="col-sm-8 btn-group">
            <%= link_to 'New Item', new_stock_item_path(@stock), class: "btn btn-sm btn-success" %>
        </div>
      <% end %>
    </div>
    <div class="paragraph">
      <h4>Audit Events</h4>
      <div class="row">
        <div class="col-sm-4 ener-header">Comment</div>
        <% if user_signed_in? && current_user.admin == true %>
          <div class="col-sm-8 ener-header">Params</div>
        <% end %>
      </div>
      <% @stock_audits.each do |stock_audit| %>
        <div class="row">
          <div class="col-sm-4"><%= format_name(stock_audit.user.email) %> <%= stock_audit.comment %></div>
          <% if user_signed_in? && current_user.admin? %>
            <div class="col-sm-8"><%= stock_audit.audit_params %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
