<div class="page-header">
  <h1><%= "Detail for Serial \##{@stock.serial_number}: Job #{format_job(@stock.job.job_number)} for #{format_company(@stock.job)}." %> </h1>
</div>

<div id="content">
  <div class="paragraph">
    <p>
      <strong>Serial number:</strong>
      <%= @stock.serial_number %>
    </p>

    <p>
      <strong>Job:</strong>
      <%= format_job(@stock.job.job_number) %>
    </p>

    <p>
      <strong>Engine:</strong>
      <% if @stock.engine != nil %>
        <%= link_to @stock.engine.serial, engine_path(@stock.engine) %>
      <% else %>
        No Engine Found
      <% end %>
    </p>

    <p>
      <strong>Alternator:</strong>
      <% if @stock.alternator != nil %>
        <%= link_to @stock.alternator.serial, alternator_path(@stock.alternator) %>
      <% else %>
        No Alternator Found
      <% end %>
    </p>

    <p>
      <strong>Detail:</strong>
      <%= @stock.detail %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @stock.status %>
    </p>

    <p>
      <strong>Status detail:</strong>
      <%= @stock.status_detail %>
    </p>

    <p>
      <strong>Gesan number:</strong>
      <%= @stock.gesan_number %>
    </p>

    <p>
      <strong>Ppsr:</strong>
      <%= @stock.ppsr %>
    </p>
    <div class="btn-group">
      <%= link_to 'Edit', edit_stock_path(@stock), class: "btn btn-sm btn-primary" %>
      <%= link_to 'Back', stocks_path, class: "btn btn-sm btn-primary" %>
    </div>
    <% if @stock.engine == nil%>
      <%= link_to 'New Engine', new_stock_engine_path(@stock), class: "btn btn-sm btn-success" %>
    <% else %>
      <%= link_to 'View Engine', engine_path(@stock.engine), class: "btn btn-sm btn-primary" %>
    <% end %>
    <% if @stock.alternator == nil %>
      <%= link_to 'New Alternator', new_stock_alternator_path(@stock), class: "btn btn-sm btn-success" %>
    <% else %>
      <%= link_to 'View Alternator', alternator_path(@stock.alternator), class: "btn btn-sm btn-primary"%>
    <% end %>
    </div>
  </div>
</div>
