<div class="page-header">
  <h1>
    <%= "Detail for Serial \##{@stock.serial_number}" %>
    <% if @stock.job != nil %>
      <%= ": Job #{format_job(@stock)} for #{format_company(@stock)}." %>
    <% end %>
  </h1>
</div>

<div id="content">
  <div class="paragraph">
    <div class="row">
      <div class="col-sm-4">
        <h4>Main Unit</h4>
        <%= render 'stock' %>
      </div>
      <div class="col-sm-4">
        <h4>Engine</h4>
        <% if @stock.engine != nil%>
          <%= render 'engines/engine' %>
        <% end %>
      </div>
      <div class="col-sm-4">
        <h4>Alternator</h4>
        <% if @stock.alternator != nil %>
          <%= render 'alternators/alternator' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 btn-group">
        <% if user_signed_in? %>
          <%= link_to 'Edit', edit_stock_path(@stock), class: "btn btn-sm btn-primary" %>
        <% end %>
        <%= link_to 'Back', stocks_path, class: "btn btn-sm btn-primary" %>
      </div>
      <% if user_signed_in? %>
        <div class="col-sm-4 btn-group">
          <% if @stock.engine == nil%>
            <%= link_to 'New Engine', new_stock_engine_path(@stock), class: "btn btn-sm btn-success" %>
            <%= link_to 'Assign Stock Engine', engines_floor_stock_path, class: "btn btn-sm btn-success" %>
          <% else %>
            <%= link_to 'View Engine', engine_path(@stock.engine), class: "btn btn-sm btn-primary" %>
            <%= link_to 'Assign Engine to Floor Stock', unassign_engine_path(@stock), method: :patch, class: "btn btn-sm btn-danger" %>
          <% end %>
        </div>
        <div class="col-sm-4 btn-group">
          <% if @stock.alternator == nil %>
            <%= link_to 'New Alternator', new_stock_alternator_path(@stock), class: "btn btn-sm btn-success" %>
            <%= link_to 'Assign Stock Alternator', alternators_floor_stock_path, class: "btn btn-sm btn-success" %>
          <% else %>
            <%= link_to 'View Alternator', alternator_path(@stock.alternator), class: "btn btn-sm btn-primary"%>
            <%= link_to 'Assign Alternator to Floor Stock', unassign_alternator_path(@stock), method: :patch, class: "btn btn-sm btn-danger" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="paragraph">
      <h4>Audit Events</h4>
      <div class="row">
        <div class="col-sm-4 ener-header">Comment</div>
        <% if user_signed_in? && current_user.admin == true %>
          <div class="col-sm-8 ener-header">Params</div>
        <% end %>
      </div>
      <% @stock_audits.each do |stock_audit| %>
        <div class="row">
          <div class="col-sm-4"><%= format_name(stock_audit.user.email) %> <%= stock_audit.comment %></div>
          <% if user_signed_in? && current_user.admin? %>
            <div class="col-sm-8"><%= stock_audit.audit_params %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
