<div class="page-header">
  <h1>
    <%= "Detail for Serial \##{@stock.serial_number}" %>
    <% if @stock.job != nil %>
      <%= ": Job #{format_job(@stock)} for #{format_company(@stock)}." %>
    <% end %>
    <% if @stock.order != nil %>
      <%= ": For Order Number #{@stock.order.order_number}" %>
    <% end %>
  </h1>
</div>

<div id="content">
  <div class="paragraph">
    <% if @stock.status == "Production Complete" %>
      <div class="row">
        <div class="col-sm-6">
          <% if current_user.can_account? or current_user.can_manage? %>
            Accounts Sign Off is
              <% if @stock.accounts_signoff == 1 %>
                complete.
              <% elsif @stock.accounts_signoff? %>
                valid, PPSR filled out or not required, click button to sign off.
                <%= link_to "Sign Off", accounts_signoff_path(@stock), class: "btn btn-xs btn-success" %>
              <% else %>
                incomplete, PPSR not filled out or PPSR toggle not unchecked
              <% end %>
          <% else %>
            <% if @stock.accounts_signoff == 1 %>
              Accounts Sign Off is Complete
            <% else %>
              Accounts Sign Off is Pending
            <% end %>
          <% end %>
        </div>
        <div class="col-sm-6">
          <% if current_user.can_project? or current_user.can_manage? %>
            <% if @stock.projects_signoff == 1 %>
              Projects Sign Off is complete
            <% else %>
              Projects Sign Off is valid, click button to sign off.
              <%= link_to "Sign Off", projects_signoff_path(@stock), class: "btn btn-xs btn-success" %>
            <% end %>
          <% else %>
            <% if @stock.projects_signoff == 1 %>
              Projects Sign Off is Complete
            <% else %>
              Projects Sign Off is Pending
            <% end %>
          <% end %>
        </div>
      </div>
      <hr>
    <% end %>
    <div class="row">
      <div class="col-sm-4">
        <h4>Main Unit</h4>
        <%= render 'stock' %>
      </div>
      <div class="col-sm-8">
        <h4>
          <% if @items != nil %>
            <%= @items.count %>
          <% end %>
          Attached Items
        </h4>
        <% if @items != nil %>
          <%= render 'items' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <% if user_signed_in? %>
        <div class="col-sm-offset-4 col-sm-8 btn-group">
          <% if current_user.can_manage? %>
            <%= link_to 'New Item', new_stock_item_path(@stock), class: "btn btn-sm btn-success" %>
          <% end %>
        </div>
      <% end %>
      <div class="col-sm-4 btn-group">
        <% if user_signed_in? %>
          <%= link_to 'Edit', edit_stock_path(@stock), class: "btn btn-sm btn-primary" %>
          <% if current_user.can_account? or current_user.can_manage? %>
            <%= link_to 'Edit PPSR', edit_ppsr_path(@stock), class: "btn btn-sm btn-primary" %>
          <% end %>
          <% if current_user.can_account? or current_user.can_manage? %>
          </div>
        </div>
        <div class="row">
          <% if current_user.can_manage? or current_user.can_purchase? %>
            <div class="col-sm-4 btn-group">
              <% if @stock.costing == nil %>
                  <%= link_to 'New Costing', new_stock_costing_path(@stock), class: "btn btn-sm btn-success" %>
                <% else %>
                  <%= link_to 'Show Costing', costing_path(@stock.costing), class: "btn btn-sm btn-primary" %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
    <div class = "row">
      <div class="col-sm-4 btn-group">
        <%= link_to 'Serial Register', stocks_path, class: "btn btn-sm btn-primary" %>
        <% if @stock.order != nil%>
          <%= link_to "Order ##{@stock.order.order_number}", @stock.order, class: "btn btn-sm btn-danger" %>
        <% end %>
      </div>
    </div>
    <div class="paragraph">
      <h4>Audit Events</h4>
      <div class="row">
        <div class="col-sm-4 ener-header">Comment</div>
        <% if user_signed_in? && current_user.admin == true %>
          <div class="col-sm-8 ener-header">Params</div>
        <% end %>
      </div>
      <% @stock_audits.each do |stock_audit| %>
        <div class="row">
          <div class="col-sm-4"><%= format_name(stock_audit.user.email) %> <%= stock_audit.comment %></div>
          <% if user_signed_in? && current_user.admin? %>
            <div class="col-sm-8"><%= stock_audit.audit_params %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
