<div class="page-header">
  <h1>Listing customers</h1>
</div>

<div id="content">
  <div class="paragraph">
    <div class="row">
      <div class="col-sm-4 ener-header">Name</div>
      <div class="col-sm-4"></div>
    </div>
    <% @customers.each do |customer| %>
      <div class="row">
        <div class="col-sm-4"><%= customer.name %></div>
        <div class="col-sm-4 btn-group">
          <%= link_to 'Show', customer, class: "btn btn-xs btn-info" %>
          <%= link_to 'Edit', edit_customer_path(customer), class: "btn btn-xs btn-info" %>
          <%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-info" %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <%= link_to 'New Customer', new_customer_path, class: "btn btn-sm btn-success" %>
</div>
