<div class="page-header">
  <h1>
    <%= @customer.name %>
  </h1>
</div>
<div id="content">
  <%= render 'jobs/jobs' %>

  <div class="btn-group">
    <%= link_to 'New Job', new_customer_job_path(@customer), class: "btn btn-sm btn-info" %>
  </div>
  <div class="btn-group">
    <%= link_to 'Edit', edit_customer_path(@customer), class: "btn btn-sm btn-primary" %>
    <%= link_to 'Back', customers_path, class: "btn btn-sm btn-primary" %>
  </div>
</div>
