<div class="paragraph">
  <div class="row">
    <div class="col-sm-3 ener-header">Alternator</div>
    <div class="col-sm-3 ener-header">Type</div>
    <div class="col-sm-3 ener-header">Serial</div>
    <div class="col-sm-3 ener-header"></div>
  </div>
  <% @alternators.each do |alternator| %>
    <div class="row">
      <div class="col-sm-3"><%= alternator.alternator %></div>
      <div class="col-sm-3"><%= alternator.alternator_type %></div>
      <div class="col-sm-3"><%= alternator.serial %></div>
      <div class="col-sm-3 btn-group">
        <%= link_to 'Show', alternator, class: "btn btn-xs btn-info" %>
        <% if user_signed_in? %>
          <%= link_to 'Edit', edit_alternator_path(alternator), class: "btn btn-xs btn-info" %>
          <%= link_to 'Destroy', alternator, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
        <% end %>
    </div>
    </div>
  <% end %>
</div>
