<div class="page-header">
  <h1>Assign <%= @alternator.serial %> to Stock </h1>
</div>

<div class="content">
  <div class="paragraph">
    <%= render 'alternator' %>
  </div>

  <%= form_for @alternator, :url => {:action => 'process_alternator'} do |f| %>
    <% if @alternator.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@alternator.errors.count, "error") %> prohibited this engine from being saved:</h2>

        <ul>
        <% @alternator.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <h3>Stock Serial to Assign to</h3>
    <div class="field">
      <strong>Stock Serial: </strong>
      <%= f.text_field :stock_id %>
    </div>
    <div class="actions">
      <%= f.submit class: "btn btn-sm btn-success" %>
    </div>
  <% end %>
</div>
