<h1>New alternator</h1>

<%= form_for(@alternator) do |f| %>
  <% if @alternator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alternator.errors.count, "error") %> prohibited this alternator from being saved:</h2>

      <ul>
      <% @alternator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :alternator %><br>
    <%= f.text_field :alternator %>
  </div>
  <div class="field">
    <%= f.label :alternator_type %><br>
    <%= f.text_field :alternator_type %>
  </div>
  <div class="field">
    <%= f.label :serial %><br>
    <%= f.text_field :serial %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', alternators_path %>
