<p id="notice"><%= notice %></p>

<p>
  <strong>Alternator:</strong>
  <%= @alternator.alternator %>
</p>

<p>
  <strong>Type:</strong>
  <%= @alternator.alternator_type %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @alternator.serial %>
</p>
<div class="btn-group">
  <%= link_to 'Edit', edit_alternator_path(@alternator), class: "btn btn-sm btn-primary" %>
  <%= link_to 'Back', alternators_path, class: "btn btn-sm btn-primary" %>
</div>
