<div class="paragraph">
  <div class="row">
    <div class="col-sm-4">
      <input id="filter" type="text" class="form-control" placeholder="Search For...">
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="ener-header">Order Number</th>
        <th class="ener-header">Shipping Date</th>
        <th class="ener-header">Status</th>
        <th class="ener-header">Stock Items</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="searchable">
      <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_number %></td>
        <td><%= order.shipping_date %></td>
        <td><%= order.order_status %></td>
        <td><%= order.stock.count %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Show', order, class: "btn btn-xs btn-info" %>
            <% if user_signed_in? %>
              <%= link_to 'Edit', edit_order_path(order), class: "btn btn-xs btn-info" %>
              <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
            <% end %>
          </div>
        </td>
      <tr>
      <% end %>
    </tbody>
  </table>
</div>
