<div class="paragraph">
  <div class="row">
    <div class="col-sm-4">
      <input id="filter" type="text" class="form-control" placeholder="Search For...">
    </div>
    <div class="col-sm-4" >
      <% if user_signed_in? and (current_user.can_order? or current_user.can_manage?) %>
        <%= link_to 'New Order', new_order_path, class: "btn btn-sm btn-success" %>
      <% end %>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <% if @order_status == nil %>
            Unfiltered View
          <% else %>
            <%= @order_status.to_s %>
          <% end %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to "No Filtering", orders_path %></li>
          <li class="divider"></li>
          <li><a href="/orders/filter/Ordered">Ordered</a></li>
          <li><a href="/orders/filter/Acknowledged">Acknowledged</a></li>
          <li><a href="/orders/filter/Goods%20Loaded">Goods Loaded</a></li>
          <li><a href="/orders/filter/On%20The%20Water">On The Water</a></li>
          <li><a href="/orders/filter/Arrived">Arrived</a></li>
        </ul>
      </div>
    </div>
  </div>
  <table class="table table-striped tablesorter" id="sorttable">
    <thead>
      <tr>
        <th class="ener-header">Order Number</th>
        <th class="ener-header">Shipping Date</th>
        <th class="ener-header">Status</th>
        <th class="ener-header">Stock</th>
        <th class="ener-header">Items</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="searchable">
      <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_number %></td>
        <td><%= order.shipping_date %></td>
        <td><%= order.order_status %></td>
        <td><%= order.stock.count %></td>
        <td><%= order.item.count %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Show', order, class: "btn btn-xs btn-info" %>
            <% if user_signed_in? and (current_user.can_order? or current_user.can_manage?) %>
              <%= link_to 'Edit', edit_order_path(order), class: "btn btn-xs btn-info" %>
              <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
            <% end %>
          </div>
        </td>
      <tr>
      <% end %>
    </tbody>
  </table>
</div>
