<table class="table table-striped table-hover table-condensed">
  <col style="width:15%">
  <col style="width:15%">
  <col style="width:38%">
  <col style="width:15%">
  <col style="width:18%">
  <thead>
    <tr>
      <th class="ener-header">Serial</th>
      <th class="ener-header">Job #</th>
      <th class="ener-header">Detail</th>
      <th class="ener-header">Status</th>
      <th></th>
    <tr>
  </thead>
  <tbody class="searchable">
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= link_to format_serial(stock), stock_path(stock) %></td>
        <td><%= link_to check_job(stock), stock.job %></td>
        <td><%= stock.detail %></td>
        <td><%= stock.status %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Show', stock, class: "btn btn-xs btn-info" %>
            <% if user_signed_in? %>
              <%= link_to 'Edit', edit_stock_path(stock), class: "btn btn-xs btn-info" %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
