<div class="page-header">
  <h1>Order Number: <%= @order.order_number %></h1>
  <% if @order.order_status == "Arrived" %>
    <h4>This order is complete, its details cannot be changed</h4>
  <% end %>
</div>

<div class="content">
  <p><strong>Shipping Date:</strong> <% if @order.shipping_date != nil %><%= @order.shipping_date.strftime("%A the %d of %B %Y") %><% end %></p>
  <p><strong>Order Status:</strong> <%= @order.order_status %></p>
  <div class="paragraph">
    <div class="row">
      <div class="col-sm-6">
        <strong>Stock From This Order:</strong><%= render 'stocks' %>
      </div>
      <div class="col-sm-6">
        <strong>Items (Parts) From This Order:</strong><%= render 'items' %>
      </div>
    </div>
    <div class="row">
    <p></p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="btn-group">
          <% if @order.order_status != "Arrived" and user_signed_in? and (current_user.can_order? or current_user.can_manage?) %>
            <%= link_to 'Edit', edit_order_path(@order), class: "btn btn-sm btn-primary" %>
          <% end %>
          <%= link_to 'Back', orders_path, class: "btn btn-sm btn-info" %>
        </div>
      </div>
    </div>
  </div>
</div>
