<div class="page-header">
  <strong>Order Number:</strong>
  <%= @order.order_number %>
</div>

<div class="content">
  <p><strong>Shipping Date:</strong> <%= @order.shipping_date %></p>
  <p><strong>Order Status:</strong> <%= @order.order_status %></p>
  <div class="paragraph">
    <div class="row">
      <div class=col-sm-6>
        <strong>Stock Items From This Order:</strong><%= render 'stocks' %>
      </div>
      <div class=col-sm-6>
        <strong>Stock Items From This Order:</strong><%= render 'items' %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_order_path(@order), class: "btn btn-sm btn-primary" %>
<%= link_to 'Back', orders_path, class: "btn btn-sm btn-info" %>
