<%= form_for(@costing) do |f| %>
  <% if @costing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@costing.errors.count, "error") %> prohibited this costing from being saved:</h2>

      <ul>
      <% @costing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :foreign_cost, 'Unit Cost ($AUD)' %><br>
    $<%= f.text_field :foreign_cost %>
  </div>
  <div class="field">
    <%= f.label :markup, 'Freight Markup' %><br>
    <%= f.text_field :markup %>%
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-sm btn-success" %>
  </div>
<% end %>
