<div class="row">
  <div class="col-lg-6">
    <%= form_for [@stock, @item], :url => {:action => 'create', class: "form-horizontal"} do |f| %>
      <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
          <% @item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field form-group">
        <%= f.label :item_serial, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :item_serial, class: "form-control" %>
        </div>
      </div>
      <div class="field form-group">
        <%= f.label :item_name, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :item_name, class: "form-control" %>
        </div>
      </div>
      <div class="field form-group">
        <%= f.label :item_model, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :item_model, class: "form-control" %>
        </div>
      </div>
      <div class="field form-group">
        <%= f.label :stock_type, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <div class="form-control">
            <%= f.collection_select :stock_type, Item::STOCK_TYPES, :to_s, :humanize %>
          </div>
        </div>
      </div>
      <div class="field form-group">
        <%= f.label :distributor, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :distributor, class: "form-control" %>
        </div>
      </div>
      <div class="field form-group">
        <%= f.label :manufacturer, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :manufacturer, class: "form-control" %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit class: "btn btn-sm btn-success" %>
      </div>
    <% end %>
  </div>
</div>
