<div class="row">
  <div class="col-sm-4">
    <input id="filter" type="text" class="form-control" placeholder="Search For...">
  </div>
  <div class="col-sm-8">
    <div class="btn-group">
      <%= link_to 'Create Item as Floor Stock', new_floor_item_path, class: "btn btn-success" %>
    </div>
    <% if user_signed_in? %>
      <div class="btn-group">
        <%= link_to 'Show Floor Stock Items', items_floor_stock_path, class: "btn btn-primary" %>
        <%= link_to 'Stock', stocks_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped tablesorter" id="sorttable">
      <thead>
        <tr>
          <th class="ener-header">Item name</th>
          <th class="ener-header">Item model</th>
          <th class="ener-header">Item serial</th>
          <th class="ener-header">Stock type</th>
          <th class="ener-header">Order</th>
          <th class="ener-header">Distributor</th>
          <th class="ener-header">Manufacturer</th>
          <th class="ener-header">Stock</th>
          <th class="ener-header"></th>
        </tr>
      </thead>
      <tbody class="searchable">
        <% @items.each do |item| %>
          <tr>
            <td><%= item.item_name %></td>
            <td><%= item.item_model %></td>
            <td><%= item.item_serial %></td>
            <td><%= item.stock_type %></td>
            <td>
              <% if item.order != nil %>
                <%= item.order.order_number %>
              <% end %>
            </td>
            <td><%= item.distributor %></td>
            <td><%= item.manufacturer %></td>
            <td>
              <% if item.stock != nil %>
                <%= item.stock.serial_number %>
              <% end %>
            </td>
            <td>
              <div class="btn-group">
                <%= link_to 'Show', item, class: "btn btn-xs btn-info" %>
                <% if user_signed_in? %>
                  <%= link_to 'Edit', edit_item_path(item), class: "btn btn-xs btn-info" %>
                  <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
