<div class="page-header">
  <h1>Assign <%= @item.item_serial %> to Stock </h1>
</div>

<div class="content">
  <div class="row">
    <div class="col-sm-12">
    <%= render 'item' %>
    <%= form_for @item, :url => {:action => 'process_item'} do |f| %>
      <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
          <% @item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
  <%= render 'pick_stock' %>
</div>
