<%= form_for(@stock_audit) do |f| %>
  <% if @stock_audit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock_audit.errors.count, "error") %> prohibited this stock_audit from being saved:</h2>

      <ul>
      <% @stock_audit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stock %><br>
    <%= f.text_field :stock %>
  </div>
  <div class="field">
    <%= f.label :engine %><br>
    <%= f.text_field :engine %>
  </div>
  <div class="field">
    <%= f.label :alternator %><br>
    <%= f.text_field :alternator %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
