<% if current_user.admin? %>
  <div class="page-header">
  <h1>Listing stock_audits</h1>
  </div>

  <div class="paragraph">
    <div class="row">
      <div class="col-sm-4">
        <input id="filter" type="text" class="form-control" placeholder="Search For...">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table tablestriped tablesorter" id="sorttable">
          <thead>
            <tr>
              <th>Stock</th>
              <th>Item</th>
              <th>User</th>
              <th>Comment</th>
              <th>Created At</th>
              <th></th>
            </tr>
          </thead>

          <tbody class="searchable">
            <% @stock_audits.each do |stock_audit| %>
              <tr>
                <td><%= stock_audit.stock %></td>
                <td><%= stock_audit.item %></td>
                <td>
                  <% if stock_audit.user != nil %>
                    <%= stock_audit.user.email %>
                  <% end %>
                </td>
                <td><%= stock_audit.comment %></td>
                <td><%= stock_audit.created_at %></td>
                <td>
                  <div class="btn-group">
                    <%= link_to 'Show', stock_audit, class: "btn btn-xs btn-info" %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
